# Hydra + Lightning
torch
pytorch-lightning==1.8.3
hydra-core==1.3.1
hydra-colorlog==1.2.0
hydra-optuna-sweeper==1.2.0
pyrootutils
omegaconf
rich

# Graph
IProgress
dgl
networkx

# Others
numpy
pandas
wandb
pre-commit
pytest
matplotlib
