# Torch, TorchRL and Lightning
torch>= 2.0.0
torchrl>=0.1.0
tensordict>=0.0.3
lightning>=2.0.0

# Hydra
hydra-core
hydra-colorlog
omegaconf
pyrootutils


# Others
rich
numpy
einops
wandb
pre-commit
pytest
matplotlib