# Torch, TorchRL and Lightning
torch
torchrl>=0.0.5
tensordict>=0.0.3
pytorch-lightning==1.8.6

# Hydra
hydra-core
hydra-colorlog
omegaconf
pyrootutils

# Other utils
rich
numpy
wandb
pre-commit
pytest