{%- set external_urls = {
  'github': 'https://github.com/ai4co/rl4co',
  'github_issues': 'https://github.com/ai4co/rl4co/issues',
  'contributing': 'https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md',
  'docs': 'https://rl4co.readthedocs.io/en/latest/',
  'twitter': 'https://twitter.com/pytorch',
  'discuss': 'https://join.slack.com/t/rl4co/shared_invite/zt-1ytz2c1v4-0IkQ8NQH4TRXIX8PrRmDhQ',
  'tutorials': 'https://pytorch.org/tutorials',
  'previous_pytorch_versions': 'https://pytorch.org/previous-versions/',
  'home': 'https://rl4co.readthedocs.io/en/latest/',
  'get_started': 'https://pytorch.org/get-started',
  'features': 'https://pytorch.org/features',
  'blog': 'https://pytorch.org/blog/',
  'resources': 'https://pytorch.org/resources',
  'support': 'https://pytorch.org/support',
  'community': 'https://join.slack.com/t/rl4co/shared_invite/zt-1ytz2c1v4-0IkQ8NQH4TRXIX8PrRmDhQ',
  'forums': 'https://join.slack.com/t/rl4co/shared_invite/zt-1ytz2c1v4-0IkQ8NQH4TRXIX8PrRmDhQ',
  'versions': '',
}
-%}
