{%- set external_urls = {
  'github': 'https://github.com/ai4co/rl4co',
  'github_issues': 'https://github.com/ai4co/rl4co/issues',
  'contributing': 'https://rl4co.readthedocs.io/en/latest/_content/general/contribute.html',
  'docs': 'https://rl4co.readthedocs.io/en/latest/',
  'discuss': 'https://join.slack.com/t/rl4co/shared_invite/zt-1ytz2c1v4-0IkQ8NQH4TRXIX8PrRmDhQ',
  'tutorials': 'https://rl4co.readthedocs.io/en/latest/_collections/tutorials/1-training-loop-advanced.html',
  'home': 'https://rl4co.readthedocs.io/en/latest/',
  'get_started': 'https://rl4co.readthedocs.io/en/latest/_collections/1-quickstart.html',
  'features': 'https://rl4co.readthedocs.io/en/latest/',
  'blog': 'https://rl4co.readthedocs.io/en/latest/',
  'resources': 'https://rl4co.readthedocs.io/en/latest/',
  'support': 'https://rl4co.readthedocs.io/en/latest/_content/general/faq.html',
  'community': 'https://join.slack.com/t/rl4co/shared_invite/zt-1ytz2c1v4-0IkQ8NQH4TRXIX8PrRmDhQ',
  'forums': 'https://join.slack.com/t/rl4co/shared_invite/zt-1ytz2c1v4-0IkQ8NQH4TRXIX8PrRmDhQ',
  'versions': '',
}
-%}
